In [164]:
import pandas as pd

def searchall(dataFrame, item):
  mask = (dataFrame.applymap(lambda x: isinstance(x, str) and item in x)).any(1)
  return dataFrame[mask]

def searchcol(dataFrame,colu, item):
    a=dataFrame.loc[dataFrame[colu].str.contains(item, case=False)]
    return a

def summarize(dataFrame,cols,by):
    a=dataFrame.groupby(cols)[by].count()
    return a

def extract (dataFrame,Exfrom,Exwhat):
             i=0        
             t1=20#len(dataFrame.index)
             l=[]
             while i < t1:
                shkdf2=pd.read_json(dataFrame[Exfrom][i])
                output=shkdf2[Exwhat][0]
                i=i+1
                l.append(output)
            
             df55 = pd.DataFrame(l,columns=[Exwhat])
             return df55


path= "file:///C:/Users/shankar.murali/Downloads/some_data_data.csv"
path2= "file:///C:/Users/shankar.murali/Downloads/some_data_data-out.json"


shkdf=pd.read_csv(path)
shkdf.head(10)


#------------------------------ Testing All Functions above uncomment to test-----------------------------------#

#searchall (shkdf, "coord\": [-73")
#searchcol(shkdf,"cuisine","pizza")
#test=["borough","cuisine"]
#summarize(shkdf,test,"cuisine") # For passing List, create a list nd call it in summarize function.
extract(shkdf,"address","zipcode") #Execution time 1 Minute for 10k records

#------------------------------ Rough -------------------

#a=shkdf['cuisine'].value_counts()
#print(a)
#shkdf.nunique()
#series=shkdf['borough']
#series.head()
#series.count() #To get total count of records
#series.nunique() # TO GET UNIQUE VALUE
#a=shkdf.groupby(['borough','cuisine'])
#print(shkdf.groupby('cuisine').groups)
#a.get_group(('Brooklyn','American'))
#shkdf.query('borough == `Queens`') #nOT WORKING
#pd.unique(shkdf['borough']) #TO GET THE LIST OF UNIQUE COLUMN VALUES
#tt=shkdf.groupby(['borough','cuisine'])['cuisine'].count() # Meaning count of cuisine by Borough 
#tt
#print(shkdf['borough'].str.contains('Broo', regex=False))
#tt1 = shkdf.loc[shkdf['cuisine'].str.contains("Ameri", case=False)] # FIND "AMERI" IN CUSINE COLOUMN
#tt1

    zipcode
0     11225
1     11385
2     10017
3     11226
4     10028
5     11211
6     10024
7     10017
8     11103
9     10009
10    10021
11    11201
12    10003
13    11209
14    10003
15    10036
16    10002
17    10018
18    10003
19    10001